body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    width: auto
}


.cells {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 68px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 2px solid #000;
    cursor: pointer;
}

.cell-container:hover {
    background-color: #e0e0e0;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 10px;
}